.App {
  margin: 0;
  text-align: center;
  height: auto;
  min-height: 99.5vh;
  min-width: 1000px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}


